body{
    background-color: #55868c;
}
.subTitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}
img{
    height: 80px;
    width: 80px;
}
figure{
    text-align: center;
}
dt{
    margin-top: 15px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
dd{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}